/* (root applies styling to all nodes.) */
.root { 
    -fx-accent: #1b1b1b;
    -fx-focus-color: -fx-accent;
    -fx-base: #000000;
    -fx-control-inner-background: derive(-fx-base, 0%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

/* Main menu makes sure that it's as dark as possible (the game is black). */
.main-menu {
    -fx-background-color: derive(-fx-base, 0%);
}

/* Label (raw text) is slightly gray to indicate that it's less clickable */
.label{
    -fx-text-fill: lightgray;
}

/* Text fields (input) is gray, online examples show gray so I will follow them. */
.text-field {
    -fx-prompt-text-fill: gray;
}

/* Base button style. Affects buttons like "New Game, Options, and Quit" */
.button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-base: -fx-accent;
} 

/* Make buttons a little bit more gray when hovering over it. Also dotted. */
.button:hover {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-border-color: gray;
    -fx-text-fill: #c9c9c9;
}

/* Scroll pane usually end up making a black border if not transparent. */
.scroll-pane {
    -fx-background-color: transparent;
}

